<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-content padding>
  <h2>Today list</h2>
  <ion-list>
    <ion-item *ngFor="let today of todayList" >
      {{ today.description }} - {{ today.weight }}KG X {{ today.numberRepetition }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding>
  <h2>Last week list</h2>
  <ion-list>
    <ion-item *ngFor="let today of lastWeekList">
      {{ today.description }}  - {{ today.weight }}KG X {{ today.numberRepetition }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding>
  <h2>Two weeks ago</h2>
  <ion-list>
    <ion-item *ngFor="let today of twoWeeksAgo">
      {{ today.description }} - {{ today.weight }}KG X {{ today.numberRepetition }}
    </ion-item>
  </ion-list>
</ion-content>
</ion-content>
